<mat-toolbar #nav color="primary">
    <mat-toolbar-row>
      <h1>jrciii's page</h1>
      <span class="fill-space"></span>
      <div layout="row" layout-align="space-around center">
        <button mat-button routerLink="/home"> Home </button>
        <button mat-button routerLink="/blarg"> Blarg </button>
        <button mat-button routerLink="/contact"> Contact </button>  
      </div>
    </mat-toolbar-row>
</mat-toolbar>
