<mat-card *ngFor="let post of blogs$ | async" class="main-card" color="accent">
    <mat-card-header color="accent">
      <mat-card-title> {{ post.title }} </mat-card-title>
      <mat-card-subtitle>Date: {{ post.date }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ post.description }}
      </p>
    </mat-card-content>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-actions>
        <button mat-button color="primary" [routerLink]="post.route"> READ </button>
    </mat-card-actions>
</mat-card>
