<mat-card class="main-card" color="accent">
  <mat-card-header color="accent">
    <div mat-card-avatar class="uc-header-image"></div>
    <mat-card-title style="text-align: center; color: darkred;">ATTENTION!</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/machine.png" alt="WELCOME TO THE MACHINE">
  <mat-card-content>
    <p style="text-align: center; color: darkred; font-size: x-large;">
      THIS PAGE IS UNDER CONSTRUCTION.
    </p>
  </mat-card-content>
</mat-card>
