<mat-card class="main-card">
    <mat-card-content>
        <scully-content></scully-content>
    </mat-card-content>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-actions>
        <button mat-button color="primary" (click)="backClicked()"> BACK </button>
        <button mat-button color="primary" (click)="comment(true); scroll(commentForm)"> COMMENT </button><br/>
    </mat-card-actions>
</mat-card>
<mat-card *ngIf="!commentHidden" class="main-card">
    <mat-card-header>
        <mat-card-title>ADDING A COMMENT</mat-card-title>
    </mat-card-header>
    <mat-card-actions #commentForm>
        <form method="post" action="https://obscure-plateau-03682.herokuapp.com/v3/entry/gitlab/jrciii/jrciii.gitlab.io/master/comments">
            <input type="hidden" name="options[slug]" [value]="slug()">
            <label for="fields[name]">Display name:</label>
            <input type="text" name="fields[name]" required><br/>
            <label for="fields[email]">Email (will be hashed, for Gravatar):</label>
            <input type="text" name="fields[email]"><br/>
            <label for="fields[url]">URL:</label>
            <input type="text" name="fields[url]"><br/>
            <label for="fields[message]">Message:</label><br/>
            <textarea name="fields[message]"></textarea><br/>
            <mat-divider [inset]="true"></mat-divider>
            <button mat-button color="primary" type="submit"> SUBMIT </button>
            <button mat-button color="primary" (click)="comment(false)" class="hide-button" type="button"> HIDE </button>
        </form>
    </mat-card-actions>
</mat-card>
<h1>COMMENTS</h1>
<div *ngFor="let comment of comments$ | async; let i = index" class="reply-div" [style]="'margin-left: ' + (comment.level * 1) + 'vw;'" >
<mat-card class="main-card">
    <mat-card-header>
        <mat-card-title>{{ comment.name }} {{ comment.verb }} on {{ comment.date }}</mat-card-title>
        <mat-card-subtitle *ngIf="comment.url"> {{ comment.name }}'s url: <a class="comment-url" [href]="comment.url"> {{ comment.url }}</a></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div [innerHTML]="comment.message" class="comment-msg"></div>
    </mat-card-content>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-actions>
        <button mat-button color="primary" (click)="showReply(comment._id);scroll(i)" class="reply-button" type="button">REPLY</button>
    </mat-card-actions>
</mat-card>
<mat-card class="main-card" *ngIf="isVisible(comment._id)">
    <mat-card-header>
        <mat-card-title>REPLYING TO {{ comment.name }} </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <div class="reply-div">
            <form #i method="post" action="https://obscure-plateau-03682.herokuapp.com/v3/entry/gitlab/jrciii/jrciii.gitlab.io/master/comments">
                <input type="hidden" name="options[slug]" [value]="slug()">
                <input type="hidden" name="fields[replyid]" [value]="comment._id">
                <label for="fields[name]">Display name:</label>
                <input type="text" name="fields[name]" required><br/>
                <label for="fields[email]">Email (will be hashed, for Gravatar):</label>
                <input type="text" name="fields[email]"><br/>
                <label for="fields[url]">URL:</label>
                <input type="text" name="fields[url]"><br/>
                <label for="fields[message]">Message:</label><br/>
                <textarea name="fields[message]"></textarea><br/>
                <mat-divider [inset]="true"></mat-divider>
                <button mat-button color="primary" type="submit">SUBMIT</button>
                <button mat-button color="primary" (click)="hideReply(comment._id)" class="hide-button" type="button">HIDE</button>
            </form>
            </div>
    </mat-card-actions>
</mat-card>
</div>