

 ::slotted(h1)  {
  color:rgb(51, 6, 37);
  background-color: rgb(248, 211, 236);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.blog-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card {
  background-color: linen;
}

.code-text-area {
  overflow-x: scroll;
  background-color: black;
  color: white;
}