/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: plum;}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.main-card {
    margin-top: 8px;
    background-color: linen;
    max-width: 89vw;
}

.main-card:last-child {
  margin-bottom: 8px;
}